h1{
    color:black;
    text-align:center;
}
body{
    background-color: rgb(0, 204, 255);
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0;
 }
 ul{
   text-align:right;
 }
 li{
   display:inline-block;
 }
 nav>ul>li>a:hover{
 padding: 18px;
 margin-right: 0;
 text-transform: uppercase;
 text-decoration: none;
 display: block;
 color: rgba(255, 255, 255, 0.733);
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 background: rgba(221, 109, 35, 0.678);
 color: rgba(0, 35, 122, 0.7);
 }
 p{
     border: 3px;
     color:red;
 }
 div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-left: 50px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
 